h2{font-variant: small-caps;
   color:steelblue;}

h1{text-shadow: 10px 10px 10px silver;}

header{background-image:url(../img/GitHub.png);
       background-size: cover;
       height: 400px;}

.ver{text-align: justify;}       