h2{font-variant: small-caps;
   color:steelblue;
   text-align: center;
font-family:'Franklin Gothic Medium';}

h2.cim{font-size: 3rem;
       margin: 20px 0px 20px 10px;
       text-align: start;}   

h1{text-shadow: 10px 10px 10px silver;
   font-size: 5rem;}

header{background-image:url(../img/GitHub.png);
       background-size: cover;
       height: 400px;}

.ver{text-align: justify;}       

.card{margin: 20px 10px 20px 10px;
      float: left;
      width: 30rem;
      height: 20rem;
      }
article p{margin:20px 0px 0px 20px;}   
article img{width: 10rem;
            display: block;
            margin:auto}  