body{background-color: black;
     color:antiquewhite;}

.container{width: 80%;
           padding: 20px;
           background-color: bisque;
           color:rgb(32, 30, 30);
           margin: auto;}     